// ******* NETWORK SETTINGS ***********
const char* ssid = "*********";
const char* pass = "*********";

// ********* MQTT SETTINGS ***********
const char* server = "***.***.***.***";
const int port 1883;
const char* username = "*********";       // Broker User name and Password
const char* password = "*********";       // Comment out if not used

const char* deviceName = "*********";     // deviceName + IP address will also show up in the Arduino IDE for OTA
                                          
const char* pubTopic = "techspace/devices";             // Publishes requests to this topic 
const char* subTopic = pubTopic + '/' + deviceName;   // Recieves Responces from this topic



// ********* OTA SETTINGS ***********
const char* OTApassword = "******";       // The passwords have to match to be able to perform an OTA update
