
#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// ******* NETWORK SETTINGS ***********
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// ********* MQTT SETTINGS ***********
#define SERVER "192,168.111.12"
#define PORT 1883
#define USERNAME ""      // Broker User name and Password
#define PASSWORD ""      // Comment out if not used

#define DEVICE_NAME "chicken"    // deviceName + IP address will also show up in the Arduino IDE for OTA

#define PUB_TOPIC "techspace/devices"             // Publishes requests to this topic 
#define SUB_TOPIC PUB_TOPIC"/" DEVICE_NAME   // Recieves Responces from this topic

// ********* OTA SETTINGS ***********
#define OTA_PASSWORD ""      // The passwords have to match to be able to perform an OTA update

unsigned long masterTags[] = {0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0}

#endif
